<div class="container">

  <section id="map"></section>

  <section id="listing">
    <div id="searchbar">
      <div id="findparks">
        <h2>{{ title }}</h2>
        <small>{{ subtitle }}</small>
      </div>
      <div id="locationField">
        <input id="autocomplete" placeholder="Enter An Address" type="text" />
        <img class="search-icon" src="../park-finder/assets/img/search-solid.svg" />
      </div>
    </div>
    <div id="noneFound">
      <h4>No Listings Found.</h4>
    </div>
    <div id="resultsTable">
      <div id="results"></div>
    </div>
  </section>

  <div style="display: none">
    <div id="info-content">
      <table>
        <tr id="iw-url-row" class="iw_table_row">
          <td id="iw-icon" class="iw_table_icon"></td>
          <td id="iw-url"></td>
        </tr>
        <tr id="iw-address-row" class="iw_table_row">
          <td class="iw_attribute_name">Address:</td>
          <td id="iw-address"></td>
        </tr>
        <tr id="iw-phone-row" class="iw_table_row">
          <td class="iw_attribute_name">Telephone:</td>
          <td id="iw-phone"></td>
        </tr>
        <tr id="iw-rating-row" class="iw_table_row">
          <td class="iw_attribute_name">Rating:</td>
          <td id="iw-rating"></td>
        </tr>
        <tr id="iw-website-row" class="iw_table_row">
          <td class="iw_attribute_name">Website:</td>
          <td id="iw-website"></td>
        </tr>
      </table>
    </div>
  </div>

</div>